<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>A Single Course</title>
</head>
<body>
		<h1> A Single Course </h1>

		<div th:each = "course: ${courses}">
			<p th:text = "${course.name}"></p>
			<p th:text = "${course.description}"></p>
			<p th:text = "${course.textbooks}"></p> /* Here for Testing */
			
			
		</div>
		<div th:each = "textbook: ${textbooks}">
			<p>Textbook(s):</p>
			<h2>
				<a th:href="@{/textbook(id=${textbook.id})}" th:text = "${textbook.title}"></a>
			</h2>
		</div>
		<footer>
			<a href="http://localhost:8080/show-courses"> Back to Home</a>
		</footer>

</body>
</html>